body {
	background-image: url('/img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 0px;
	/* Añadido para ajustar el contenido debajo de la barra de navegación */
	padding-bottom: 0px;
	/* Añadido para ajustar el contenido debajo de la barra de navegación */
	color: #ffffff;
	/* Añadido para establecer el color de texto a blanco */
}

.titulo-centrado {
	text-align: center;
	padding: 15px ;
	background-color: #007bff;
	color: #ffffff;
	border-radius: 10px;

}

.user-img img {
	width: 150px;
	/* Añadido para ajustar el tamaño de la imagen del usuario */
	height: auto;
	/* Añadido para mantener la proporción de la imagen */
	border-radius: 50%;
	/* Añadido para redondear la imagen del usuario */
	border: 5px solid #ffffff;
	/* Añadido para dar un borde blanco a la imagen del usuario */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	/* Añadido para dar una sombra a la imagen del usuario */
	margin-bottom: 20px;
	/* Añadido para espaciar la imagen del usuario del formulario */
}

.card {
	background-color: rgba(255, 255, 255, 0.9);
	/* Añadido para hacer el fondo del formulario semi-transparente */
	border-radius: 20px;
	/* Añadido para suavizar las esquinas de la tarjeta */

}

.btn-primary, .btn-success, .btn-info {
	border-radius: 20px;
	/* Añadido para suavizar las esquinas de los botones */
	font-weight: bold;
	/* Añadido para enfatizar el texto de los botones */
	text-transform: uppercase;
	/* Añadido para convertir el texto de los botones a mayúsculas */
	letter-spacing: 1px;
	/* Añadido para aumentar el espacio entre letras */
}

.btn-primary:hover, .btn-success:hover, .btn-info:hover {
	opacity: 0.8;
	/* Añadido para reducir ligeramente la opacidad de los botones al pasar el ratón */
}

/* Estilos adicionales para la información adicional */
.beneficios {
	margin-top: 30px;
}

.beneficio-card {
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	padding: 20px;
	background-color: #007bff;
	color: #ffffff;
}

.beneficio-card h3 {
	margin-top: 0;
}

.beneficio-card p {
	margin-bottom: 0;
}

/* Estilos para el mapa */
.map-container {
	margin-top: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

iframe {
	width: 100%;
	height: 300px;
	border-radius: 10px;
}