<div
th:with=" disableFields=!${editMode} or (${#authorization.expression('hasRole(''ROLE_USER'')')} 
or ${#authorization.expression('hasRole(''ROLE_SUPERVISOR'')')})">
	<form class="form" role="form" autocomplete="off"
		th:object="${userForm}"
		th:action="${signup}?@{/signup}:(${editMode} ?@{/editUser} :@{/userForm})"
		method="post">
		<input class="form-control" type=hidden th:field="${userForm.id}"
			th:if="${editMode}"> <input class="form-control" type=hidden
			name="password" value="xxxx" th:if="${editMode}">
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">documento</label>
			<div class="col-lg-9">
				<input class="form-control" type="text"
					th:field="${userForm.NDocument}">
				<div class="alert-danger" th:if="${#fields.hasErrors('NDocument')}"
					th:errors="*{NDocument}">NDocumento Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
			<div class="col-lg-9">
				<input class="form-control" type="text"
					th:field="${userForm.firstName}" >
				<div class="alert-danger" th:if="${#fields.hasErrors('firstName')}"
					th:errors="*{firstName}">Name Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Apellido</label>
			<div class="col-lg-9">
				<input class="form-control" type="text"
					th:field="${userForm.lastName}">
				<div class="alert-danger" th:if="${#fields.hasErrors('lastName')}"
					th:errors="*{lastName}">Name Error</div>

			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Email</label>
			<div class="col-lg-9">
				<input class="form-control" type="email"
					th:field="${userForm.email}">
				<div class="alert-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}">Name Error</div>
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Usuario</label>
			<div class="col-lg-9">
				<input class="form-control" type="text"
					th:field="${userForm.username}">
				<div class="alert-danger" th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}">Name Error</div>
			</div>
		</div>
		<div class="form-group row">
			<label th:text="Roles"
				class="col-lg-3 col-form-label form-control-label"></label>
			<div class="col-lg-9">
				<select class="form-control" th:size="${signup}?1:1"
					th:field="${userForm.roles}" th:disabled="${disableFields}">
					<option th:each="role :${roles}" th:value="${role.id}"
						th:text="${role.name}"></option>
				</select>
				<div class="alert-danger" th:if="${#fields.hasErrors('roles')}"
					th:errors="*{roles}">nombre con error</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Telefono</label>
			<div class="col-lg-9">
				<input class="form-control" type="text"
					th:field="${userForm.nPhone}">
				<div class="alert-danger" th:if="${#fields.hasErrors('nPhone')}"
					th:errors="*{nPhone}">NPhone Error</div>
			</div>
		</div>
		 <div class="form-group row" th:if="${editMode == null or !editMode}">
            <label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
            <div class="col-lg-9">
                <input type="password" id="password" class="form-control"
                       th:field="${userForm.password}"/>
                <div id="passwordError" class="alert-danger"></div>
                <div class="alert-danger" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}">Error en la contraseña</div>
            </div>
        </div>

        <div class="form-group row" th:if="${editMode == null or !editMode}">
            <label class="col-lg-3 col-form-label form-control-label">Confirmar</label>
            <div class="col-lg-9">
                <input type="password" id="confirmPassword" class="form-control"
                       th:field="${userForm.confirmPassword}"  />
                <div id="confirmPasswordError" class="alert-danger"></div>
                <div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}"
                     th:errors="*{confirmPassword}">Error en la confirmación de la
                     contraseña</div>
            </div>
        </div>
		<div class="form-group row">
			<div class="col-lg-12 text-center">
				<a class="btn btn-secondary" th:href="@{'/userForm/cancel'}">Cancelar</a>
				<a th:href="@{/registro-vehiculo}" class="btn btn-secondary"
    th:if="${editMode} and ${#authorization.expression('hasRole(''ROLE_SUPERVISOR'')')}">Registrar vehículo</a>

				<button type="button" class="btn btn-secondary" data-toggle="modal"
					th:if="${editMode}" data-target="#changePasswordModal">Cambiar
					contraseña</button>
				<input type="submit" class="btn btn-primary" value="Save Changes"
					th:value="${editMode}?'Guardar Usuario':'Crear Usuario'">

			</div>
		</div>
		<div class="alert alert-danger text-center"
			th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error
			MEssage</div>
		<div class="alert alert-success text-center d-none" id="formSuccess"
			th:if="${editMode}">Success MEssage</div>
	</form>
</div>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var passwordError = document.getElementById("passwordError");
        var confirmPasswordError = document.getElementById("confirmPasswordError");
        var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        passwordError.textContent = "";
        confirmPasswordError.textContent = "";

        if (!regex.test(password)) {
            passwordError.textContent = "La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un carácter especial.";
            return false;
        }

        if (password !== confirmPassword) {
            confirmPasswordError.textContent = "Las contraseñas no coinciden.";
            return false;
        }

        return true;
    }
</script>